{% load i18n %}{% autoescape off %}
{% blocktranslate %}<div>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.<div>
<div>The provided link is valid for {{link_expiry_time}}</div>{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}/reset-password/set-new-password/{{ uid }}/{{ token }}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
